:root {
  /* Colors */
  --dark-navy: #020c1b;
  --navy: #0a192f;
  --light-navy: #112240;
  --lightest-navy: #233554;
  --navy-shadow: rgba(2,12,27,0.7);
  --dark-slate: #495670;
  --slate: #8892b0;
  --light-slate: #a8b2d1;
  --lightest-slate: #ccd6f6;
  --white: #e6f1ff;
  --green: #64ffda;
  --green-tint: rgba(100,255,218,0.1);
  --pink: #f57dff;
  --blue: #57cbff;
  --yellow: #f3f8a5;

  /* Fonts */
  --font-sans: 'Montserrat', sans-serif;
  --font-mono: 'Ubuntu Mono', monospace;

  /* Sizes */
  --size-toc: 250px;
}

html {
  height: 100%;
}

body {
  background-color: var(--navy);
  color: var(--slate);
  font-family: var(--font-sans);
  font-size: 16px;
  margin: 0;
  height: 100%;
}

.x-center {
  text-align: center;
}

.x-imp {
  color: var(--blue);
}

.x-padt10 {
  padding-top: 10px;
}

.x-flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

#wrapper {
  display: flex;
  height: 100%;
}

#wrapper .wrapper-child {
  padding: 10px;
}

/**
  Side Profile (Desktop)
**/

#wrapper #profile {
  width: 400px;
  border-right: 1px solid var(--lightest-navy);
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
}

#wrapper #profile .wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 0 20px;
}

#wrapper #profile .wrapper #me {
  flex-grow: 1;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#wrapper #profile .wrapper #footer {
  flex-shrink: 1;
  text-align: center;
  font-size: 0.8em;
}

#wrapper #profile .wrapper #footer a {
  color: var(--lightest-slate);
  text-decoration: none;
}

#wrapper #profile .wrapper #footer a:hover {
  cursor: pointer;
  color: var(--blue);
}

#wrapper #profile .wrapper .avatar img {
  height: 120px;
  width: 120px;
  border-radius: 60px;
  transition: 0.1s all ease-in-out;
}

#wrapper #profile .wrapper .avatar img:hover {
  cursor: pointer;
  transform: scale(1.05);
}

#wrapper #profile .wrapper .real-name {
  font-size: 1.5em;
  font-weight: 600;
}

#wrapper #profile .wrapper .real-name .name {
  color: var(--blue);
}

#wrapper #profile .wrapper .social {
  font-size: 0.8em;
}

/**
  Top Profile (Mobile)
**/

#wrapper #profile-top {
  display: none;
  border-bottom: 1px solid var(--lightest-navy);
  padding-bottom: 10px;
  margin-bottom: 10px;
}

#wrapper #profile-top .wrapper {
  display: flex;
  flex-direction: row;
}

#wrapper #profile-top .wrapper .avatar img {
  height: 40px;
  width: 40px;
  border-radius: 20px;
  transition: 0.1s all ease-in-out;
}

#wrapper #profile-top .wrapper .avatar img:hover {
  cursor: pointer;
  transform: scale(1.05);
}

#wrapper #profile-top .wrapper .real-name {
  padding: 0px 20px 0px 10px;
}

#wrapper #profile-top .wrapper .real-name .name {
  font-size: 1.2em;
  font-weight: 600;
  color: var(--blue);
}

#wrapper #profile-top .wrapper .social {
  flex-grow: 1;
  justify-content: flex-end;
  align-items: center;
  display: flex;
  font-size: 0.8em;
}

/**
  Content Area
**/

#wrapper #content {
  flex-grow: 1;
  background-color: var(--dark-navy);
  margin-left: 421px;
  overflow-y: scroll;
}

#wrapper #content #prompt {
  display: inline;
  font-family: var(--font-mono);
  font-size: 1.1em;
}

#wrapper #content table {
  font-family: var(--font-mono);
  border-spacing: 0px;
}

#wrapper #content table td:not(:first-child) {
  padding-left: 10px;
}

#wrapper #content a {
  color: var(--slate);
  text-decoration: none;
}

#wrapper #content #prompt-wrapper a {
  color: var(--white);
}

#wrapper #content a:hover {
  color: var(--blue) !important;
}

#wrapper #content div.init-content-hidden {
  display: none;
}

#wrapper #content #content-wrapper {
  display: flex;
}

#wrapper #content #content-wrapper #prompt-wrapper {
  flex-grow: 1;
  margin-right: calc(var(--size-toc) + 15px);
}

#wrapper #content #content-wrapper #toc-wrapper {
  width: var(--size-toc);
  position: fixed;
  top: 10px;
  right: 15px;
  bottom: 0;
  font-size: 0.9em;
}

#wrapper #content #content-wrapper #toc-wrapper #dates {
  font-size: 0.9em;
  color: var(--dark-slate);
  padding-bottom: 10px;
}

#wrapper #content #content-wrapper #toc-wrapper ul {
  list-style: none;
  padding: 5px 0 0 0;
  margin: 0;
}

#wrapper #content #content-wrapper #toc-wrapper ul ul {
  padding-left: 20px;
}

#wrapper #content #content-wrapper #toc-wrapper ul ul li:not(:first-child) {
  padding-top: 5px;
}

#wrapper #content #content-wrapper #toc-wrapper a {
  color: var(--slate);
  text-decoration: none;
}

#wrapper #content #content-wrapper #toc-wrapper a:hover {
  color: var(--blue);
}

/* Hide the TOC when device_width < 1350px */
@media only screen and (max-width: 1350px)  {
  #wrapper #content #content-wrapper #toc-wrapper {
    display: none;
  }

  #wrapper #content #content-wrapper #prompt-wrapper {
    margin-right: auto;
  }
}

/* Hide side profile when device_width < 1100px */
@media only screen and (max-width: 1100px)  {
  #wrapper #profile {
    display: none;
  }

  #wrapper #content {
    margin-left: auto;
  }

  #wrapper #profile-top {
    display: block;
  }
}