<script>
  const PAGE_DATA = [
    {{ range .Pages.ByLastmod.Reverse }}
      {
        isDir: {{ .IsSection }},
        title: "{{ .Title }}",
        pages: {{ len .Pages }},
        rel: "{{ strings.TrimRight "/" .RelPermalink }}",
        {{ if .IsPage }}
          readingTime: {{ .ReadingTime }},
          {{ if (isset .Params "filename" )}}
            fileName: "{{ .Params.filename }}",
          {{ end }}
          lastMod: "{{ .Lastmod.Format "Jan 2 2006" }}",
          author: "{{ .GitInfo.AuthorName }}",
        {{ end }}
      },
    {{ end }}
  ].sort((a, b) => {
    // Always make sure section pages come before regular pages.
    if (a.isDir && !b.isDir) {
      return -1; // a comes first
    } else if (!a.isDir && b.isDir) {
      return 1; // b comes first
    } else {
      return 0; // either both are sections or both are not sections, so keep position
    }
  });
</script>