<div id="prompt"></div>
<table id="table-ls"></table>

<script>
  window.typed = new Typed('#prompt', {
    strings: [
      [
        shellCmd('whois mdr.dev'),
        '{{ .Site.Params.whois }}<br><br>',
        shellCmd('ls -lah ~{{ .RelPermalink }}'),
        tableize(PAGE_DATA, (d) => {
          const perms = d.isDir ? 'dr--r--r--' : '-r--r--r--';
          const nameStyle = d.isDir ? 'color:var(--yellow)' : '';
          const fileName = d.isDir ? `${d.title.toLowerCase().replace(' ', '-')}/` : (d.fileName ? d.fileName : d.title.toLowerCase().replace(' ', '_')+'.md');
          return '<td>' + [
            perms,
            `mdr`,
            `${d.pages}`,
            `<a style="${nameStyle}" href="${d.rel}">${ fileName }</a>`,
          ].join('</td><td>') + '</td>';
        }),
        MDR_PROMPT
      ].join('')
    ]
  });
</script>