<div id="prompt"></div>

<script>
   new Typed('#prompt', {
    showCursor: true,
    strings: [
      [
        shellCmd(
          {{ if in .Params.filename ".md" }}
          'cat '
          {{ else if in .Params.filename ".sh" }}
          'sh '
          {{ end }}
          + '<a href="{{ .Parent.RelPermalink }}">~{{ .Parent.RelPermalink }}</a>{{ .Params.filename }}'
          {{ if in .Params.filename ".md" }}
          + ' | markdownify',
          {{ else }},{{ end }}
          0, false
        ),
        {{ if (isset .Params "output" ) }}
        '<br><br>',
        "{{ .Params.output }}"
          .replace(/\|/g, '<br>')
          .replace(/\[/g, "<span class='highlight'>")
          .replace(/\]/g, "</span>")
        {{ end }}
      ].join('')
    ]
  });
</script>